img.fitpage {
    max-width: 100%;
    max-height: 100%;
}

span {
    display: block;
    overflow: hidden;
    padding: 0 6px 0 0
}

input.search-query {
    width: 100%;
    border-radius: 0.3em;
    margin: 0;
    padding: 2px 2px 2px 4px;
}

textarea {
    width: 100%;
}

input.add {
    margin: 10px 0 10px 0;
}

html, input, textarea, label, button {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.target-title {
    padding: 0 0 0.2em 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #C1E2F0;
    padding: 0 0.4em 0.2em 0.3em;
    margin: 0;
}

ul.report-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0.3em 0;
}

ul.report-list li {
    background-color: #eee;
    padding: 0.1em 0.2em 0.1em 0.25em;
    margin: 0;
    border-radius: 0.3em;
}

.report-list-date {
    font-size: 80%;
}

.report-list-description {

}

ul.attachmentlist {
    padding: 0 0 0 0;
    margin: 0;
}

ul.attachmentlist li {
    float: left;
    list-style-type: none;
    padding: 0 5px 0 0;
    margin: 0;
}

.image-upload > input {
    display: none;
}