.target-title {
    font-size: 140%;
    padding: 0.2em 0 0.3em 0;
    margin: 0;
    text-align: center;
}

.target-title-button {
    float: right;
    font-size: 20pt;
    text-decoration:none;
    margin: 0.1em 0.3em 0 0;
    position: absolute;
    right: 0;
    top: 0;
}

div.search-bar {
    background-color: #C9C9CE;
    margin: 0;
    display: block;
    overflow: hidden;
    padding: 0 0 0 0
}

input.search-text {
    width: 100%;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 2px 2px 2px 4px;
}

#bardiv {
    margin: .5em 0 0 0;
    position:relative;
}
#progressbar {
    height: 1.5em;
}
#progresstext {
    width: 100%;
    position:absolute;
    top:20%;
    left:0.5em;
}

img.fitpage {
    max-width: 100%;
    max-height: 100%;
}

textarea {
    width: 100%;
}

input.add {
    margin: 10px 0 10px 0;
}

* {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F7F7F7;
    padding: 0;
    margin: 0;
}

ul.report-list {
    list-style-type: none;
    padding: 0;
}

ul.report-list li {
    margin: 0 0 0.3em 0;
    background-color: #fff;
    padding: 0.1em 0.2em 0.1em 0.25em;
    margin: 0;
    border-radius: 0.3em;
}

ul.report-list li.selected-true {
    background-color: #fff;
}

.report-list-date {
    font-size: 80%;
}

.report-list-description {

}

ul.attachmentlist {
    padding: 0 0 0 0;
    margin: 0;
}

ul.attachmentlist li {
    float: left;
    list-style-type: none;
    padding: 0 5px 0 0;
    margin: 0;
}

.image-upload > input {
    display: none;
}