<form name="myForm">
    <div id="aForm">
        <div class="toprow gray-bottom-divider">
            <a class="left-button" href="#/"><img src="img/x.png"/></a>
            <h2 class="centered-title">{{target}}</h2>
            <a class="right-button" ng-click="destroy()"><img src="img/delete.png"/></a>
            <a class="right-button" ng-click="save()"><img src="img/done-check.png"/></a>
        </div>
        <div class="toprow smallertext leftrightpad" ng-class="{error: myForm.type.$invalid}">
            <select name="type" ng-model="report.type" onchange="$('#description').focus()" required>
                <option value="problem">Felanmälan</option>
                <option value="suggestion">Förslag</option>
                <option value="success">Framgångssaga</option>
            </select>
            <div class="centered-title"></div>
            <div>{{formattedDate}}</div>
        </div>

        <textarea id="description" name="description" ng-model="report.description"
                  ng-disabled="myForm.type.$invalid" placeholder="Beskrivning"></textarea>

        <div class="attachmentrow">
            <div class="attachmentitem" ng-repeat="attachment in report.attachments" ng-click="viewMedia(attachment.id, attachment.mimetype)">
                <img ng-src="img/{{imageByMime(attachment.mimetype)}}">
            </div>
            <div class="attachmentitemfiller"></div>
            <div class="attachmentitem"><label for="image-upload"><img src="img/camera-plus.png"/></label></div>
            <div class="attachmentitem"><label for="audio-upload"><img src="img/microphone-plus.png"/></label></div>
        </div>
        <input class="hidden" id="image-upload" type="file" accept="image/*" capture="camera">
        <input class="hidden" id="audio-upload" type="file" accept="audio/*" capture="microphone">

        <div id="bardiv">
            <div id="progressbar"></div>
            <div id="progresstext">Sänder fil...</div>
        </div>
    </div>
</form>
