<div class="toprow">
    <span class="left-button invisible"><img src="img/plus.png"/></span>
    <h2 class="centered-title">{{target}}</h2>
    <a class="right-button" href="#/new"><img src="img/plus.png"/></a>
</div>
<div class="search-bar">
<input class="search-text" type="text" ng-model="search" placeholder="Sök">
</div>

<div ng-show="loading">Hämtar rapporter...</div>
<div ng-show="!loading && reports.length == 0">Inga rapporter.</div>
<ul class="report-list">
    <li ng-repeat="report in reports | filter:context.target:strict | filter:search | orderBy:'-createdDate'"
        class="selected-{{selectedReport(report.id)}}" ng-click="viewReport(report.id)">
        <div><span class="report-list-date">{{formatDate(report.changedDate)}}</span></div>
        <div><span class="report-list-description">{{report.description}}</span></div>
    </li>
</ul>
